title	    	      { font-size: 100%; }
body                  { font-family: helvetica,arial,serif; font-size: 80%;
                        margin-top: 0; padding-top: 0 }
td                    { vertical-align: top; }
.name                 { font-size: 300%;  font-weight: bold;
    }
.section              { font-size: 120%; font-weight: bold;
    }
.company              { font-size: 120%;  font-weight: bold;
    }
.job                  { font-size: 120%; font-weight: bold;
    }
.city                 { vertical-align: bottom; }
.continue             { margin-top: 5pt; margin-bottom: 0pt; }
ul                    { margin-top: 2pt; margin-bottom: 0pt; }
P.version             { font-size: 8pt; font-style: italic;
                        text-align: right; }
/* div.jobdesc        { text-align: justify; } */
A:link, A:active, A:visited
                      { color: blue; text-decoration: none }
