title	    	      { font-size: large; }
body                  { font-family: helvetica,arial,sans-serif;
                        margin-top: 0; padding-top: 0 }
td                    { vertical-align: top; }
.name                 { font-size: 30pt;  font-weight: bold;
}
.section              { font-size: large; font-weight: bold; 
}
.company              { font-size: large;
                        font-weight: bold;
                    }
.job                  { font-size: medium; 
                        font-weight: bold;
                      }
.city                 { vertical-align: bottom; }
.continue             { margin-top: 5pt; margin-bottom: 0pt; }
ul                    { margin-top: 2pt; margin-bottom: 0pt; }
P.version             { font-size: 8pt; font-style: italic;
                        text-align: right; }
hr                    { color:#aaa; background-color:#aaa;
                        border: none; height: 1px; }
/* div.jobdesc        { text-align: justify; } */
A:link, A:active, A:visited
                      { color: blue; text-decoration: none }
